<html>
    <head></head>
    <body>
        <div>
            {% for a in app %}
            <p>
                {{a.name}}
            </p>
            {% endfor %}
        </div>
        <div>
            {% for a in webhook %}
            <p>
                ID{{a.name}}
            </p>
            {% endfor %}
        </div>
        <div class="rendered-form">
            <div class="formbuilder-text form-group field-name">
                <label for="name" class="formbuilder-text-label">Webhook Name</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="formbuilder-text form-group field-url">
                <label for="url" class="formbuilder-text-label">URL</label>
                <input type="text" class="form-control" name="url" id="url">
            </div>
            <div class="">
                <button type="submit" class="btn-default btn">Create</button>
            </div>
        </div>
    </body>
</html>